.parent {
  display: flex;
  flex-direction: row; /* default is "row" */
  /* Main Axis */
  justify-content: space-around;
  align-content: space-around;
  /* Cross Axis */
  align-items: flex-start;
  width: 100%;
  height: 100vh;
}

.child {
  background: peru;
  flex-basis: 200px;
  display: inline-block;
  color: white;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.child:nth-child(2) {
  background-color: #000;
  flex-shrink: 2; /* default is 1 */
  flex-grow: 1; /* default is 0 */
}

.child:nth-child(3) {
  flex-shrink: 3;
}
