.grid {
  display: grid;
  height: 50vh;
  gap: 5px;
  grid-template:
    'header header' 1fr
    'content nav' 2fr
    'footer footer' 1fr / 3fr 1fr;
}

.header {
  background-color: #2ecc71;
  grid-area: header;
}

.content {
  background-color: #3498db;
  grid-area: content;
}

.nav {
  background-color: #8e44ad;
  grid-area: nav;
}

.footer {
  background-color: #f39c12;
  grid-area: footer;
}
