@import '_variables';

body {
  h2 {
    color: $red;
  }
  .box {
    &:hover {
      background-color: gray;
    }
    h2 {
      color: blue;
      font-size: $title;
    }
  }
  button {
    color: $red;
  }
}
