@import '_mixins';

h1 {
  color: red;
  @include responsive('iphone') {
    color: yellow;
  }
  @include responsive('iphone-l') {
    color: blue;
  }
  @include responsive('tablet') {
    color: green;
  }
}
