.parent {
  display: flex;
  flex-direction: row-reverse; /* default is "row" */
  /* Main Axis */
  justify-content: space-around;
  /* Cross Axis */
  align-items: flex-start;
  height: 50vh;
  flex-wrap: wrap-reverse;
}

.child {
  background: peru;
  height: 200px;
  width: 200px;
  display: inline-block;
  color: white;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
